<h1>Let's make a smoothie.</h1>
<p>Choose your favorite veggie.</p>

<form method="post" type="submit" action='/new'>
  <section>
    <div class="radio">
      <label>
        <input type="radio" name="veg" value="spinach" />
        Spinach
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="veg" value="kale" />
        Kale
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="veg" value="cucumber" />
        Cucumber
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="veg" value="carrot" />
        Carrot
      </label>
    </div>
  </section>

  <section>
    <p>Choose your favorite fruit.</p>
    <div class="radio">
      <label>
        <input type="radio" name="fruit" value="strawberry" />
        Strawberry
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="fruit" value="pineapple" />
        Pineapple
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="fruit" value="watermelon" />
        Watermelon
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="fruit" value="peach" />
        Peach
      </label>
    </div>
  </section>

  <section>
    <p>Choose your base.</p>
    <div class="radio">
      <label>
        <input type="radio" name="base" value="coconut water" />
        Coconut Water
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="base" value="coconut milk" />
        Coconut Milk
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="base" value="almond milk" />
        Almond Milk
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="base" value="apple juice" />
        Apple Juice
      </label>
    </div>

  </section>

  <input type="submit" />
</form>
